
<figure>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJk8OGjNUYoFMROG4gLRGqR3g&key=AIzaSyCl27vT153QwUXeuFuopKm5M5TLQUlKRNU" allowfullscreen></iframe></figure>
<h2>Ceremony</h2>
<p>Saturday June 15, 2019</p>
<p>3:00pm</p>
<p>First Mennonite Church</p>
<p>3650 91 St NW</p>
<p>Edmonton, AB T6E 6P1</p>

<h2>Reception</h2>
<p>5:15pm</p>
<p>Dinner at 6:00pm</p>
<p>First Mennonite Church</p>
<p>Program and Board Games to follow</p>

