<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar" (click)="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img height="30" src="./static/wedding/Weddinglogo.jpg"></a>
        </div>
        <div class="collapse navbar-collapse" id="MyNavbar" [ngbCollapse]="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="accomodations">Accomodations</a></li>
                <li><a href="event">Event Details</a></li>
                <li><a href="registry">Registry</a></li>
                <li><a href="photos">Photos</a></li>
                <li class="active"><a href="rsvp">RSVP</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
    RSVP
    <div *ngIf="!loggedin">
        <form class="Code Entry">
            <mat-form-field appearance="outline">
                <input matInput placeholder="RSVP Code" #codeInput>
                <mat-hint>The RSVP Code is on the Invitation</mat-hint>
            </mat-form-field>
            <button mat-fab (click)="checkCode(codeInput)" color="primary">Submit</button>
        </form>
    </div>
    <div *ngIf="loggedin">
        Enter your name:
        <form class="Code Entry">
            <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" #firstName>
            </mat-form-field>
            <mat-form-field appearance="outline">
            <input matInput placeholder="Last Name" #lastName>
            </mat-form-field>
            <button mat-fab (click)="getNames(firstName.value, lastName.value)" color="primary">Search</button>
            <div>{{firstName.value}} {{lastName.value}}</div>
        </form>
        <div *ngIf="guests.length!=0">
            <div *ngFor="let g of guests; let i = index">
                {{g.name}}
                <mat-radio-group [(ngModel)]="g.guestid">
                    <mat-radio-button value="a">Yes :)</mat-radio-button>
                    <mat-radio-button value="b">No :(</mat-radio-button>
                </mat-radio-group>
                <span *ngIf="g.guestid=='a'">
                    <mat-form-field>
                      <mat-select placeholder="Dietary Restrictions" [(ngModel)]="models[i]" multiple>
                        <mat-option (click)="deselect(models[i], i)" value="none">None</mat-option>
                        <mat-option (click)="removeNone(models[i], i)" value="gluten">Gluten Free</mat-option>
                        <mat-option (click)="removeNone(models[i], i)" value="dairy">Dairy Free</mat-option>
                        <mat-option (click)="removeNone(models[i], i)" value="vegetarian">Vegetarian</mat-option>
                        <mat-option (click)="removeNone(models[i], i)" value="vegan">Vegan</mat-option>
                        <mat-option (click)="removeNone(models[i], i)" value="other">Other</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span *ngIf="needOther(i)">
                        <mat-form-field [style.fontSize.px]=12>
                            <textarea matInput placeholder="Other Dietary Restictions" #other></textarea>
                        </mat-form-field>
                    </span>
                </span>
            </div>
        </div>
    </div>
</body>

