<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar" (click)="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img height="30" src="./static/wedding/Weddinglogo.jpg"></a>
        </div>
        <div class="collapse navbar-collapse" id="MyNavbar" [ngbCollapse]="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="accomodations">Accomodations</a></li>
                <li><a href="event">Event Details</a></li>
                <li><a href="registry">Registry</a></li>
                <li><a href="photos">Photos</a></li>
                <li class="active"><a href="rsvp">RSVP</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
    <div *ngIf="!loggedin">
        <form class="Code Entry">
            <mat-form-field appearance="outline">
                <input matInput placeholder="RSVP Code" #codeInput>
                <mat-hint>The RSVP Code is on the Invitation</mat-hint>
            </mat-form-field>
            <button mat-fab (click)="checkCode(codeInput)" color="primary">Submit</button>
        </form>
    </div>
    <div *ngIf="loggedin">
        Enter your name:
        <form class="Code Entry">
            <mat-form-field appearance="outline">
            <input matInput ngModel name="firstNameLabel" placeholder="First Name" #firstName required>
            </mat-form-field>
            <mat-form-field appearance="outline">
            <input matInput ngModel name="lastNameLabel" placeholder="Last Name" #lastName required>
            </mat-form-field>
            <button mat-fab (click)="getNames(firstName.value, lastName.value)" [disabled]="!firstName.value || !lastName.value" color="primary">Search</button>
        </form>

        <div *ngIf="guests.length!=0">
            <form #rsvpForm="ngForm" (ngSubmit)="actionOnSubmit(rsvpForm)" novalidate>
                <div *ngFor="let g of guests; let i = index">
                    <span *ngIf="!g.added">
                    {{g.name}}
                    <mat-radio-group name="{{g.name + 'rsvp'}}" [(ngModel)]="radio[i]" required>
                        <mat-radio-button color="primary" value="true">Yes :)</mat-radio-button>
                        <mat-radio-button color="primary" value="false">No :(</mat-radio-button>
                    </mat-radio-group>
                    <span *ngIf="radio[i]=='true'">
                        <mat-form-field>
                          <mat-select name="{{g.name + 'dietSelect'}}" placeholder="Dietary Restrictions" [(ngModel)]="restrictions[i]" multiple required #select="ngModel">
                            <mat-option (click)="deselect(restrictions[i], i)" value="none">None</mat-option>
                            <mat-option (click)="removeNone(restrictions[i], i)" value="gluten">Gluten Free</mat-option>
                            <mat-option (click)="removeNone(restrictions[i], i)" value="dairy">Dairy Free</mat-option>
                            <mat-option (click)="removeNone(restrictions[i], i)" value="vegetarian">Vegetarian</mat-option>
                            <mat-option (click)="removeNone(restrictions[i], i)" value="vegan">Vegan</mat-option>
                            <mat-option (click)="removeNone(restrictions[i], i)" value="other">Other</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <show-errors [control]="select"></show-errors>
                        <span *ngIf="needOther(i)">
                            <mat-form-field [style.fontSize.px]=12>
                                <textarea matInput name="{{g.name + 'otherDiet'}" [(ngModel)]="extra[i]" default="" placeholder="Other Dietary Restictions" required></textarea>
                            </mat-form-field>
                        </span>
                    </span>
                </span>
                </div>
                <div *ngIf="plusone">
                    Will you bring an additional guest?
                    <mat-radio-group name="plusRsvp" [(ngModel)]="plusOneRadio" required>
                        <mat-radio-button color="primary" value="true">Yes</mat-radio-button>
                        <mat-radio-button color="primary" value="false">No</mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="plusOneRadio=='true'">
                        <mat-form-field appearance="standard">
                        <input [(ngModel)]="plusFirst" name="first"matInput placeholder="First Name" required>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                        <input [(ngModel)]="plusLast" name="last" matInput placeholder="Last Name" required>
                        </mat-form-field>
                        <span *ngIf="plusOneRadio=='true'">
                            <mat-form-field>
                            <mat-select name="plusDietSelect" placeholder="Dietary Restrictions" [(ngModel)]="restrictions['a']" multiple required #plusSelect="ngModel">
                                <mat-option (click)="deselect(restrictions['a'], 'a')" value="none">None</mat-option>
                                <mat-option (click)="removeNone(restrictions['a'], 'a')" value="gluten">Gluten Free</mat-option>
                                <mat-option (click)="removeNone(restrictions['a'], 'a')" value="dairy">Dairy Free</mat-option>
                                <mat-option (click)="removeNone(restrictions['a'], 'a')" value="vegetarian">Vegetarian</mat-option>
                                <mat-option (click)="removeNone(restrictions['a'], 'a')" value="vegan">Vegan</mat-option>
                                <mat-option (click)="removeNone(restrictions['a'], 'a')" value="other">Other</mat-option>
                            </mat-select>
                            </mat-form-field>
                            <show-errors [control]="plusSelect"></show-errors>
                            <span *ngIf="needOther('a')">
                                <mat-form-field [style.fontSize.px]=12>
                                    <textarea matInput name="plusOtherDiet" [(ngModel)]="extra['a']" default="" placeholder="Other Dietary Restictions" #other="ngModel" required></textarea>
                                </mat-form-field>
                                <show-errors [control]="other"></show-errors>
                            </span>
                        </span>
                    </div>
                </div>
            </form>
            <hr>
            <div *ngIf="!rsvpForm.valid">There seems to be some missing information!</div>
            <button mat-raised-button (click)="submitInfo()" [disabled]="!rsvpForm.valid">Submit RSVP</button>
        </div>
    </div>
    <div>Please contact us at <a href="mailto:sean.tiffanie@gmail.com">sean.tiffanie@gmail.com</a> if you have any questions</div>
</body>

