<figure>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJGyT-PdweoFMR-pJ0q0j0oVo&key=AIzaSyCl27vT153QwUXeuFuopKm5M5TLQUlKRNU" allowfullscreen></iframe></figure>
<p> If you require accomodations in Edmonton, we have reserved a block of rooms from June 14-16 near the venue for your convienence at:</p>
<br>
<p><strong>Holiday Inn Express & Suites Edmonton South</strong></p>
<p>2440 Calgary Trail</p>
<p>Edmonton, AB, T6J 5J6</p>
<p>1-780-440-5000</p>
<p><a href="http://bit.ly/HIExpressYEG">http://bit.ly/HIExpressYEG</a>
<p><strong>Please book by May 14 with the group name "Sean and Tiffanie Wedding"</strong></p>

