
        <img class=rounded src="./static/wedding/test.jpg" alt="logo">
        <h1>Sean & Tiffanie's Wedding</h1>
        <div class="thirty">
            <a routerLink="/event">Details</a>
            <br>
            <a routerLink="/rsvp">RSVP</a>
            <br>
            <a routerLink="/accomodations">Accomodations</a>
            <br>
            <a routerLink="/registry">Registry</a>
            <br>
            <a routerLink="/photos">Photos</a>
            <br>
        </div>
        <footer>
            <p>Contact us if you have any questions at <a href="mailto:sean.tiffanie@gmail.com">sean.tiffanie@gmail.com</a></p>
        </footer>

